*{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
   padding: 0px; 
   background-color: rgb(129, 162, 224);
}
.navigation-bar, .footer{
    background-color: rgb(26, 24, 24);
    color: white;
    padding: 20px;
    
}

h1{
    margin-bottom: 10px;
}

#quantity1, #quantity2, #operation{
    margin: 20px 0px;
    height: 40px;
    font-size: 18px;
}
#quantity1, #quantity2{
    width: 150px;
}


button{
    margin: 20px 0px;
    padding: 10px;
    background-color:rgb(129, 162, 224);
    border: 1px solid black;
    border-radius: 5px;
}

button:hover{
    opacity: 70%;
}

.navigation-bar{
    margin-bottom: 30px;
    font-size: 36px;
    width: 100%;
    box-sizing: border-box;
}

#main-content{
    display: flex;
    gap: 20px;
    margin: 0px;
    justify-content: center;
}

.container{
    padding: 40px;
    box-shadow: 2px 2px 5px rgb(27, 27, 27);
    margin-bottom: 20px;
    background-color: white;
    height: 60vh;
    width: 25%;
    border-radius: 15px;
}

#calculator-container, #pascal-triangle-container{
    overflow: auto;
}
.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.container:hover{
    border: 2px dashed black;
}


/* .slider{
    -webkit-appearance: slider-vertical;
} */

.term-number{
    box-shadow: 2px 2px 5px grey;
    padding: 20px; 
    text-align: center;
    border-radius: 15px;
    margin: 20px 0px;
    

}

.slidecontainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

#test{
    height: 100px;
}

#tri-test, #test{
    overflow: auto;
}

#tri-test{
    height: 200px;
}
