*{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
   padding: 0px; 
   background-color: rgb(26, 24, 24);
}
.navigation-bar, .footer{
    background-color: rgb(26, 24, 24);
    color: white;
    padding: 20px;
    width: 100%;
    
}

h1{
    margin-bottom: 10px;
}

#quantity1, #quantity2, #operation{
    margin: 20px 0px;
    height: 40px;
    font-size: 2vh;
    text-align: center;
}
#quantity1, #quantity2{
    width: 40%;
}

.logo{
    height: 5vh;
}


button{
    margin: 20px 0px;
    padding: 10px;
    background-color:rgb(129, 162, 224);
    border: 1px solid black;
    border-radius: 5px;
}

button:hover{
    opacity: 70%;
}

.navigation-bar{
    margin-bottom: 30px;
    font-size: 36px;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 2vh;
    
}
a{
    text-decoration: none;
    color: rgb(237, 241, 250);
}
a:hover{
    opacity: 70%;
}

@media screen and (max-width: 1350px) { 
    #main-content{
        flex-direction: column;
        overflow: auto;
        
    }
    .container{
        max-width: 300px;
    }
}
@media screen and (max-width: 800px) { 
    .container{
        max-width: 200px;
    }
}


#main-content{
    background-color:rgb(129, 162, 224);
    display: flex;
    flex-direction: wrap;
    gap: 20px;
    margin: 0px;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 7vh;
}

.container{
    padding: 40px;
    box-shadow: 2px 2px 5px rgb(27, 27, 27);
    margin-bottom: 20px;
    background-color: white;
    height: 60vh;
    width: 25%;
    border-radius: 15px;
    min-width: 360px;
    
}

#calculator-container, #pascal-triangle-container{
    overflow: auto;
}
.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    text-align: center;
}

.container:hover{
    border: 2px dashed black;
}


/* .slider{
    -webkit-appearance: slider-vertical;
} */

.term-number{
    box-shadow: 2px 2px 5px grey;
    padding: 20px; 
    text-align: center;
    border-radius: 15px;
    margin: 20px 0px;
    

}

.slidecontainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

#test{
    height: 100px;
}

#tri-test, #test{
    overflow: auto;
}

#tri-test{
    height: 200px;
}
